{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">

{% if size!=0 %}
<h1 class="title">Here are your matches! </h1>
<hr>


{% for user in all_users %}
<div class="box" >

<form action="/profile" method='POST'>
    <input type="hidden" name="user" value="{{user[1]}}">
    <button class="button is-block is-info is-large is-fullwidth">Meet {{user[1][1]}}!</button>
</form>

<br>
<h3>Match Score: {{user[0]}}% </h3><br> 
{{user[1][1]}}'s top 3 artists:
<ul>
{% for artist_num in range(3) %}
<li>{{user[2][artist_num]}}</li>

{% endfor %}
</ul>
<br>

<form action="/getEvents" method='POST'>
    <input type="hidden" name="self_email" value="{{self_email}}">
    <input type="hidden" name="other_email" value="{{user[1][0]}}">
    <button class="button is-block is-info is-large is-fullwidth">Get Events for Us!</button>
</form>

</div>
{% endfor %}

{% else %}
Sorry, you have no matches :(
{% endif %}

</div>

{% endblock %}