{% extends "base.html" %}

{% block content %}

{{data}}
<h1 class="title">
  Welcome {{first_name}} {{last_name}}! </h1>
  <h3 class="title">
 ({{pronouns}}) </h3>
  <br>
  Noted preferences in a match: {{preferences}}
  <br>
  Birthday: {{dob}}

  <form action="/getUserTopArtist" method='POST'>
    <input type="hidden" name="email" value="{{email}}">
    <button class="button is-block is-info is-large is-fullwidth">See Top Artist</button>

  </form>
<p></p>
  <form action="/getMatches" method='POST'>
    <input type="hidden" name="email" value="{{email}}">
    <button class="button is-block is-info is-large is-fullwidth">See Matches</button>
  </form>

{% endblock %}