{% extends "base.html" %}

<!-- <script>
    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
    }
</script> -->

{% block content %}
<div class="column is-4 is-offset-4">

    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}

    <form method="POST" action="/signup" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" required value="{{userinfo.email}}" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" required value="{{userinfo.display_name}}" placeholder="First Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" required placeholder="Last Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="pronouns" required placeholder="pronouns" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="preferences" required placeholder="preferences" autofocus="">
                </div>
            </div>


            <!-- <label for="pronouns">Pronouns</label>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                 </select>
            <br><br> -->

            <!-- <div class="dropdown">
                <button class="dropbtn">Preferences</button>
                <div class="dropdown-content">
                    <a href="#">He/Him</a>
                    <a href="#">She/Her</a>
                    <a href="#">They/Them</a>
                </div>
            </div> -->
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="dob" placeholder="Date of Birth" autofocus="">
                </div>
            </div>

            <!-- <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="image" placeholder="Image" autofocus="">
                </div>
            </div> -->

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="refresh_token" value="{{refresh_token}}">



            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}