{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">


<!-- <form action="/returnToProfile" method='POST'>
    <input type="hidden" name="email" value="{{email}}">
    <button class="button is-block is-info is-small is-fullwidth">Back to my profile!</button>
</form> -->
<br>


Top artists:<br>
{% for artist_num in range(len) %}
<img src="{{url[artist_num]}}" alt="{{name[artist_num]}}" width="200" height="200"><br>
{{name[artist_num]}}
<p>
</p>
{% endfor %}

</div>

{% endblock %}